<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exclusão Confirmada</title>
</head>

<body>
  <h1>Exclusão Confirmada</h1>
  <p>O produto foi excluído com sucesso.</p>
  <a href="/produtos">Voltar para a lista de produtos</a>
</body>

</html>
