<h1>Bem-vindo à nossa loja de jogos!</h1>

    <a href="/produtos">
        <img src="https://n4g.com/articles/wp-content/uploads/2023/09/dfbevii-4b5deebe-8052-4be7-b7b5-c30e77dcc091.jpg" alt="A" class="dashboardpng">
        
    </a>

    <a>click on image</a>