<h1>Lista de produtos</h1>

{{#if produtosSize}}
<table border="1">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Deletar</th>
        </tr>
    </thead>
    <tbody>
        {{#each produtos}}
        <tr>
            <td>{{this.nome}}</td>
            <td>{{this.preco}}</td>
            <td>
                <form action="/livros/{{this.id}}/delete" method="POST">
                    <button type="submit">Excluir</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>Nenhum produto encontrado</p>
{{/if}}
