    <div class="navbar">
        <div class="item">
            <a href="/" class='bx bx-home custom-icon'></a>
            <a href="/produtos"><i class='bx bx-notepad custom-icon'></i></a>
        </div>