body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Cinza claro */
    color: #333333; /* Preto */
  }
  
  h1 {
    color: #333333; /* Preto */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #dddddd; /* Bordas mais grossas */
  }
  
  th, td {
    border: 2px solid #dddddd; /* Bordas mais grossas */
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #3498db; /* Azul */
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2; /* Cinza claro */
  }
  
  tr:hover {
    background-color: #dddddd; /* Cinza mais escuro */
  }
  
  button {
    background-color: #3498db; /* Azul */
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9; /* Azul mais escuro */
  }
  

  