<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-ZjTxZV5eW4inHYx1N9t5+Wa7eH3+W5QkNge7N9eMzWv1E3TjE7LmxGtK+7TwUZNHcPKZKL5V6tEi7v0bU9RE5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
  <title>Loja</title>
</head>

<body>
  {{>menu}}
  {{{body}}}
  <script src="/src/models/style.js"></script>
</body>

</html>